nav li:nth-child(3) { font-weight: 600; }

@media screen and (max-width: 1230px) {
	.banner-cont {
		display: block;
		overflow: hidden;
	}
}

.banner-img {
	height: 800px;
}

@media screen and (min-width: 1230px) {
	.section, footer, #collapsable-menu {
		max-width: 1230px;
		margin: 0 auto;
	}
	.banner-cont { background: white; }
}

.section p { text-align: justify; }
.section-rightpanel {
	margin-right: 0px;
}
.section-rightpanel div { max-width: 97%; }
#tdchirp div p { clear: both; }

.background-img img { max-width: 100%; }

.background-img {
	margin-left: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	display: inline-block;
}

#reflection-drawing { float: right; }

#data-example, #china-photo, #french-fig {
	/*Flex-cont: column, item align-center*/
	display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
	-webkit-box-lines: single;
	-moz-box-lines: single;

    justify-content: flex-start;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;

    align-content: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;

    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

#data-example figcaption {
	max-width: 80%;
	text-align: justify;
}

figcaption span { font-weight: 600; }


