nav li:nth-child(2) { font-weight: 600; }

#spec {
	display: flex;
	flex-direction: column;
}
#spec-summary a {
	font-weight: 500;
	text-decoration: underline;
}
#spec-summary a:visited {
	color: black;
}

/* -- Specification banner image -- */
#spec-banner {
	padding: 0;
	margin-bottom: 20px;
}
#double-image-cont {
	margin: 15px 0;
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.wireframe-img-cont {
	background: white;
	margin-top: 5px;
	display: flex;
	align-items: center;
	max-width: 45%;
	min-width: 500px;
	flex: 1 0 700px;
/*	box-shadow: 4px 3px 4px rgba(130,130,130, 0.5);*/
	border: 2px solid rgba(130,130,130, 0.5);
}

.wireframe-img-cont img {
	width: 100%;
}

@media screen and (max-width: 700px) {
	#double-image-cont {
		margin: 0px;
		flex-direction: column;
		align-items: center;
	}
	.wireframe-img-cont {
		flex: auto;
		min-width: 85%;
	}
}

@media screen and (max-width: 300px) {
	.wireframe-img-cont { min-width: 95%; }
}

@media screen and (min-width: 1270px) {
	.section, footer, #home, #collapsable-menu {
		max-width: 1270px;
		margin: 0 auto;
	}
	.banner-cont { background: white; }
	#front-text-cont {
		position: relative;
		top: -300px;
	}
}


/* -- Table formatting -- */
#spec-rightpanel {
	justify-content: space-around;
}
.table-cont {
/*	box-shadow: 1px 4px 1px #eee;*/
	padding: 0;
	margin-bottom: 20px;
	margin-right: 25px;
	width: 300px;
	border: 1px solid rgb(150,150,150);
}
.table-cont table, .table-cont th, .table-cont td, .table-cont p {
	border-collapse: collapse;
}
.table-cont table {
	height: 100%;
}
.table-cont ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
table li {
	color: black;
	padding-bottom: 8px;
}
.table-cont th {
	padding-left: 10px;
	padding-bottom: 3px;
	height: 34px;
	border-bottom: 0.5px solid black;
	text-align: left;
}
.table-cont td {
	vertical-align: top;
	padding-bottom: 7px;
}
.table-cont tr td:nth-child(1) {
	padding-left: 5px;
	padding-top: 3px;
	width: 110px;
}
.table-cont tr td:nth-child(2) {
	padding-left: 7px;
	padding-top: 3px;
}
.table-cont tr:nth-child(1) {
	background: rgba(230,230,230,0.5);
}
/*
.table-cont tr:nth-child(2n+1) {
	background: rgba(230,230,230,0.5);
}
*/

/* -- Sweep section -- */
#sweep div.section-rightpanel {
	flex-direction: column;
}

#sweep div.section-rightpanel img {
	max-width: 95%;
}

/* -- Processing section -- */
#processing-overview ul {
	margin: 0;
	flex: 1 1 600px;
}
#processing-overview li {
	padding: 5px;
	text-indent: 4px;
}
#w7-timeseries-cont, #w7-wavelet-cont {
	text-align: center;
}
/* -- PDF section -- */
#spec-pdf {
	text-decoration: underline;
}