nav li:nth-child(1) { font-weight: 600; }

			/* -- Banner Image -- */
#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	text-align: center;
	min-height: 340px;
	max-height: 380px;
}
#front-text-cont {
	position: absolute;
	width: 100%;
	top: 12%;
	text-align: left;
}
#banner-3dc {
	display: block;
	width: 100%;
	max-height: 490px;
}
@media screen and (max-width: 980px) {
	#home {
		height: 340px;
	}
	#banner-3dc {
		width: 980px;
		height: 340px;
	}
}

@media screen and (min-width: 1250px) {
	.section, footer, #home, #collapsable-menu {
		max-width: 1250px;
		margin: 0 auto;
	}
	.banner-cont { background: white; }
	#front-text-cont {
		position: relative;
		top: -300px;
	}
}


#home h1 {
	color: white;
	margin: 0;
}
#home a:visited {
	color: white;
}
#home p {
	color: white;
	margin: 0;
	font-size: 17px;
	padding: 0px 0px 5px 40px;
	letter-spacing: 0.7px;
}

				/* -- Main-page Introduction and Links -- */

@media screen and (max-width: 910px) {
	#index-content { padding-top: 0px; }
	h2 {text-align: center;}
}

#index-introduction {
	display: flex;
}

.index-para {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
}

.index-para a {
	align-self: flex-end;
	width: 200px;
	text-align: center;
	padding: 5px;
	background: lightgrey;
	text-decoration: underline;
}

.index-para a:hover {
	background: darkgrey;
	text-decoration: none;
}

#burbo-cont {
	margin-left: 50px;
	width: 400px;
	display: flex;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	align-items: center;
}

#burbo-cont img { width: inherit; }

@media screen and (max-width: 1250px) {
	#burbo-cont {
		width: 90%;
		max-width: 400px;
		margin: 10px 0px;
		align-self: center;
		justify-content: space-around;
	}
	#index-introduction {
		flex-direction: column;
	}
}

/* Slideshow section */

#slideshow {
	padding-top: 30px;
}

.slideshow-cont {
	display: flex;
	width: 90%;
	flex-direction: column;
	align-items: center;
	margin: auto;
	border-style: groove;
}

.target-slide-cont {
	justify-content: center;
	display: flex;
	overflow: hidden;
	width: 100%;
	margin-top: 15px;
}

.slides {
	height: 100%;
	display: none;
	max-height: 430px;
}

#navigation-border {
	width: 100%;
	padding: 1.5px;
}

.slideshow-navigation {
	justify-content: center;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: 40px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
}

.slideshow-thumbnails {
	opacity: 0.6;
	margin: 1px;
	height: inherit;
	cursor: pointer;
	border: 1px solid black;
}

.slideshow-thumbnails img { height: inherit; }

/* Initialise first image */
.slides:first-of-type {display: block;}
.slideshow-thumbnails:first-of-type {opacity: 1;}

@media screen and (max-width: 910px) {
	.section:nth-child(even):not(footer) { border-top: 1px solid black; }
	.slideshow-navigation { height: 50px; }
	.slides { max-height: 400px; }
}

				/* -- News & Pubs -- */

#news-section {
	flex-direction: column; 
	align-items: center;
}

#news-section h2 {
	margin-bottom: 0px;
	text-align: center;
}

#news {
	margin-top: 20px;
	width: 90%;
	border: 1px solid black;
	overflow-x: scroll;
	white-space: nowrap;
	background: white;
	padding: 10px;
	box-shadow:         inset 0 0 7px #000000;
	-moz-box-shadow:    inset 0 0 7px #000000;
	-webkit-box-shadow: inset 0 0 7px #000000;
}

#news-table {
	table-layout: fixed;
	border-spacing: 25px 0px;
	width: 100%;
}

#news-table td, th {
	white-space: normal;
	width: 275px;
}
#news {	-webkit-overflow-scrolling: touch;
	  -webkit-scroll-snap-points-x: repeat(275px);
	  	  -ms-scroll-snap-points-x: repeat(275px);
		 	  scroll-snap-points-x: repeat(275px);
	      -webkit-scroll-snap-type: mandatory;
		      -ms-scroll-snap-type: mandatory;
			      scroll-snap-type: mandatory; }	

#news-table th {
	height: 30%;
	line-height: 1.5;
	background-color: rgb(230,230,230);
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#news-table th span {
	font-style: italic;
	font-weight: 345;
}

#news-table td {
	vertical-align: top;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

@media screen and (max-width: 910px) {
	#news-section div:first-of-type {
		width: 100%;
	}
}

/* News navigation buttons */

/*
.news-nav-button {
	width: 25px;
	font-size: 40px;
	height: 50px;
	text-align: center;
	position: relative;
	top: 40%;
}
*/

/*
.news-nav-button:hover {
	font-size: 50px;
	transition-duration: 0.4s;
}
*/
