nav li:nth-child(5) { font-weight: 600; }

.banner-cont { height: 450px; }
.banner-img {
	position: relative;
	top: -20px;
	width: 1250px;
	max-height: 800px;
}

@media screen and (max-width: 980px) {
	.banner-cont {
		height: 400px;
	}
}

@media screen and (min-width: 1250px) {
	.section, footer, #collapsable-menu {
		max-width: 1250px;
		margin: 0 auto;
	}
	.banner-cont { background: white; }
}

#pubtabs button { height: 40px; }
#tab-textbox li { line-height: 1.5; }
#tab-textbox h4 { margin: 20px 0 5px 0; }
